body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

:root {
  --light: #ffffff;
  --dark: #0e1229;
  --brand: #fd6001;
  --dark-secondary: #444965;
}

.container {
  padding: 1rem;
}

.container-lg {
  max-width: 80%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}
.container-xl {
  max-width: 100%;
}

.duo {
  display: flex;
  align-items: center;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mx {
  margin: 0 1rem;
}

.btn {
  padding: 0.8rem 1.3rem;
  border: none;
  cursor: pointer;
}

.btn-bg {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.17);
  transition: ease-in-out, 0.3s ease-out;
}
.btn-bg:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.17);
  transition: ease-in-out, 0.3s ease-out;
}

.btn-brand {
  color: var(--light);
  background-color: var(--brand);
}

.btn-rounded {
  border-radius: 2rem;
}
nav {
  padding: 1rem;
  background-color: var(--dark);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links > a {
  text-decoration: none;
  line-height: 200%;
  color: var(--light);
  padding: 1rem;
}

.links > a:hover {
  color: var(--brand);
  transition: ease-in-out, 0.3s ease-in-out;
}

input[type='search'] {
  margin-right: 1rem;
  margin-left: 5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--dark-secondary);
  border-radius: 1rem;
  background-color: transparent;
  color: var(--light);
}

::placeholder {
  color: var(--light);
  opacity: 0.8;
}

.mobile-only {
  display: none;
}

.hero-banner {
  background: linear-gradient(
      270deg,
      rgba(253, 96, 1, 0.44) 31.22%,
      rgba(14, 18, 41, 0.51) 100%
    ),
    url(./images/Header.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  padding: 20px;
}

.hero-msg {
  color: var(--light);
  position: relative;
  bottom: 500px;
  max-width: 500px;
  height: 250px;
}

.hero-msg > * {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3rem;
  /* line-height: 1.5em; */
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.card-section {
  position: relative;
  bottom: 250px;

  display: grid;

  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  grid-column-gap: 0;
}

.tile {
  text-align: center;
  padding: 3rem 3rem;
  color: var(--light);
  cursor: pointer;
}
.tile:hover {
  transform: translateY(-5px);
  transition: linear, 0.2s ease-in-out;
}

.tile > * {
  margin: 1rem 0;
}

.brand {
  background-color: var(--brand);
}
.dark {
  background-color: var(--dark);
}
/* the about-section styling begins here */
.about-section {
  color: var(--dark-secondary);
  position: relative;
  bottom: 250px;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  justify-content: center;
}

.picture-col {
  background: url(./images/about.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  margin: 2rem 0;
  font-size: 2.5rem;
}

.highlight-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.highlight-item {
  display: flex;
  align-items: center;
  max-width: 40%;
  margin: 1rem;
}
.about-col > p {
  margin: 1rem;
}

.highlight-item > div > p {
  margin-bottom: 1rem;
}
.highlight-item > img {
  align-self: center;
  padding: 0.8rem;
  background-color: var(--brand);
  border-radius: 50%;
}

.tile-title {
  font-size: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 992px) {
  .container-lg {
    max-width: 100%;
  }

  .container-xl {
    overflow-x: hidden;
    max-width: 100%;
  }

  .head {
    flex-direction: column;
  }

  .head > * {
    margin: 1rem 0;
  }

  .hero-msg {
    margin-left: 4rem;
  }

  .about-col {
    grid-column: span 2;
  }
  .picture-col {
    grid-column: span 2;
  }

  .picture-col {
    height: 500px !important;
  }

  .card-section {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }

  .hero-msg {
    margin: 0 1rem;
    width: 90%;
  }

  h1 {
    font-size: 2.5rem;
  }

  .highlight-item {
    max-width: 90%;
    margin: 1rem auto;
  }

  .picture-col {
    height: 300px !important;
  }

  .card-section {
    grid-template-columns: auto;
  }
}
